{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"no-magic-numbers": [2, {
			"ignore": [0, 1, -1, 2]
		}],
	},

	"overrides": [
		{
			"files": "test/**/*",
			"rules": {
				"no-magic-numbers": 0,
			},
		}
	]
}
